:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: rgb(50, 135, 180);
  background: linear-gradient(
    184deg,
    rgba(50, 135, 180, 1) 13%,
    rgba(225, 243, 253, 1) 100%,
    rgba(60, 193, 244, 1) 100%
  );
}
